Django==5.0
psycopg2-binary==2.9.9
django-crispy-forms==2.1
crispy-bootstrap5==2.0.0
Pillow==10.1.0
djangorestframework==3.14.0
django-filter==23.5
openpyxl==3.1.2
reportlab==4.0.7
python-decouple==3.8
django-extensions==3.2.3
validate-docbr==1.10.0
django-debug-toolbar==4.2.0